Lambda School Data Science

*Unit 1, Sprint 1, Module 2*

---

# Learning Objectives

- Student should be able to understand the purpose of feature engineering
- Student should be able to work with strings in pandas
- Student should be able to work with dates and times in pandas
- Student should be able to modify or create columns of a dataframe using the `.apply()` function


Helpful Links:
- [Minimally Sufficient Pandas](https://medium.com/dunder-data/minimally-sufficient-pandas-a8e67f2a2428)
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series
- [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)

# Let's continue to explore feature engineering with the Ames Housing data.  Import the dataset and name it "house".

###1) Import the Ames Housing Data here: https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv

In [3]:
import pandas as pd
import numpy as np
Housingdf = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv')

###2) Print the first five rows of the house dataset.

In [7]:
print(Housingdf.head(5))
Housingdf.shape

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

(1460, 81)

###3) Create a new variable called Large_Lot that takes on the value 1 when LotArea is gerater than or equal to 10,000 and the value 0 when LotArea is less than 10,000.

In [11]:
Housingdf.loc[Housingdf['LotArea'] >= 10000, 'Large_Lot'] = 1
Housingdf.loc[Housingdf['LotArea'] < 10000, 'Large_Lot'] = 0
Housingdf

        Id  MSSubClass MSZoning  ...  SaleCondition  SalePrice Large_Lot
0        1          60       RL  ...         Normal     208500       0.0
1        2          20       RL  ...         Normal     181500       0.0
2        3          60       RL  ...         Normal     223500       1.0
3        4          70       RL  ...        Abnorml     140000       0.0
4        5          60       RL  ...         Normal     250000       1.0
...    ...         ...      ...  ...            ...        ...       ...
1455  1456          60       RL  ...         Normal     175000       0.0
1456  1457          20       RL  ...         Normal     210000       1.0
1457  1458          70       RL  ...         Normal     266500       0.0
1458  1459          20       RL  ...         Normal     142125       0.0
1459  1460          20       RL  ...         Normal     147500       0.0

[1460 rows x 82 columns]

###4) Create a new variable called Total_Bathrooms that contains the total number of full and half bathrooms in the house.

In [13]:
Housingdf['Total_Bathrooms'] = Housingdf['FullBath'] + Housingdf['HalfBath']
Housingdf

        Id  MSSubClass MSZoning  ...  SalePrice  Large_Lot Total_Bathrooms
0        1          60       RL  ...     208500        0.0               3
1        2          20       RL  ...     181500        0.0               2
2        3          60       RL  ...     223500        1.0               3
3        4          70       RL  ...     140000        0.0               1
4        5          60       RL  ...     250000        1.0               3
...    ...         ...      ...  ...        ...        ...             ...
1455  1456          60       RL  ...     175000        0.0               3
1456  1457          20       RL  ...     210000        1.0               2
1457  1458          70       RL  ...     266500        0.0               2
1458  1459          20       RL  ...     142125        0.0               1
1459  1460          20       RL  ...     147500        0.0               2

[1460 rows x 83 columns]

###5) Create a new variable called Summer_Sale that equals 1 if the sale month was in June, July or August ( MoSold = 6, 7 or 8) and 0 if the sale month was in September - May.

In [14]:
Housingdf.loc[ ( Housingdf['MoSold'] == 6 ) | ( Housingdf['MoSold'] == 7 ) | ( Housingdf['MoSold'] == 8 ), 'Summer_Sale'] = 1

Housingdf.loc[ ( Housingdf['MoSold'] > 8 ) | ( Housingdf['MoSold'] < 6 ), 'Summer_Sale'] = 0

Housingdf

        Id  MSSubClass MSZoning  ...  Large_Lot  Total_Bathrooms Summer_Sale
0        1          60       RL  ...        0.0                3         0.0
1        2          20       RL  ...        0.0                2         0.0
2        3          60       RL  ...        1.0                3         0.0
3        4          70       RL  ...        0.0                1         0.0
4        5          60       RL  ...        1.0                3         0.0
...    ...         ...      ...  ...        ...              ...         ...
1455  1456          60       RL  ...        0.0                3         1.0
1456  1457          20       RL  ...        1.0                2         0.0
1457  1458          70       RL  ...        0.0                2         0.0
1458  1459          20       RL  ...        0.0                1         0.0
1459  1460          20       RL  ...        0.0                2         1.0

[1460 rows x 84 columns]

#Now we'll revisit the LendingClub data.

Remember to import the data by first unzipping the file:

In [15]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-12-01 22:08:00--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 52.12.152.84, 35.162.47.238, 54.191.199.187
Connecting to resources.lendingclub.com (resources.lendingclub.com)|52.12.152.84|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [             <=>    ]  22.37M  5.70MB/s    in 4.2s

2020-12-01 22:08:05 (5.33 MB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [23452842]

In [16]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [29]:
# Read in the CSV
import pandas as pd
df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2, engine='python')

print(df.shape)
df.head()

(128412, 144)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

#Approaching a problem two different ways.

In the guided project, we learned how to find the earliest credit year using the built-in pandas date-time format.  However, there is often more than one way to come up with the same solution.


In the following questions we will work through the steps to create a new variables called Earliest_Credit_Year and issue_year where we use the .split() function remove the month report back just the year as a float data type.  Then we'll use those variables to calculate the length of credit history in years.

If we do everything correctly, we should calculate *about* the same length of longest credit history that we did in class working with the date-time format.  The answers won't exactly match because we are making different assumptions about when in each month and year the loans were taken out, but it will give you a flavor for different ways of approaching the same problem.

###6) Create a simple test case where credit = 'Jun-1979'.  

Use the .split('-') function to separate the month and year parts of the data and print the year.

Hint: Name the results of the .split('-') function "fields".  fields[0] will return the month part of the date and fields[1] will return the year part of the date.

In [19]:
credit = 'Jun-1979'
fields = credit.split('-')
fields

['Jun', '1979']

###7) Use your answer in 6) to write a function called credit_yr that takes in the contents of a cell formatted 'month-year' and returns the year.

Run your function using the simple test case in 6).

In [26]:
def credit_yr(month_year):
  '''takes in a parameter that is a string'''
  fields = month_year.split('-')
  year = fields[1]
  return year
# End Function
credit_yr(credit)

'1979'

###8) Use the .apply() function to apply the function to every cell in the earliest_cr_line variable.  Create a new variable called Earliest_Credit_Year that contains the results of the function.

In [54]:
df['Earliest_Credit_Year'] = df['earliest_cr_line'].apply(credit_yr)
df

        id  member_id  ...  settlement_term  Earliest_Credit_Year
0      NaN        NaN  ...              NaN                  2008
1      NaN        NaN  ...              NaN                  1996
2      NaN        NaN  ...              NaN                  2006
3      NaN        NaN  ...              NaN                  1998
4      NaN        NaN  ...              NaN                  2007
...     ..        ...  ...              ...                   ...
128407 NaN        NaN  ...              NaN                  1985
128408 NaN        NaN  ...              NaN                  1982
128409 NaN        NaN  ...              NaN                  2006
128410 NaN        NaN  ...              NaN                  2008
128411 NaN        NaN  ...              NaN                  2006

[128412 rows x 145 columns]

###9) Print the top 5 rows of the Earliest_Credit_Year and earliest_cr_line variables to make sure the variables were created correctly.

In [56]:
df[['Earliest_Credit_Year','earliest_cr_line']].head(5)

  Earliest_Credit_Year earliest_cr_line
0                 2008         Aug-2008
1                 1996         Aug-1996
2                 2006         Apr-2006
3                 1998         Mar-1998
4                 2007         Oct-2007

### 10) Use your function to create a new variable called Issue_Year from the issue_d variable.

In [57]:
df['Issue_Year'] = df['issue_d'].apply(credit_yr)
df[['issue_d','Issue_Year']].head(15)

     issue_d Issue_Year
0   Dec-2018       2018
1   Dec-2018       2018
2   Dec-2018       2018
3   Dec-2018       2018
4   Dec-2018       2018
5   Dec-2018       2018
6   Dec-2018       2018
7   Dec-2018       2018
8   Dec-2018       2018
9   Dec-2018       2018
10  Dec-2018       2018
11  Dec-2018       2018
12  Dec-2018       2018
13  Dec-2018       2018
14  Dec-2018       2018

###11) Caluculate length of credit history in years and in days.

Hint: If you are getting an error message, make sure to check the data type of the years output by your functions.

In [75]:
df['Issue_Year'] = df['Issue_Year'].apply(int)
df['Earliest_Credit_Year'] = df['Earliest_Credit_Year'].apply(int)

df['Credit_Length'] = df['Issue_Year'] - df['Earliest_Credit_Year']
df = df.sort_values(by = 'Credit_Length', ascending = False)
df['Credit_Length_Days'] = df['Credit_Length']*365.25
df.head(100)

        id  member_id  loan_amnt  ...  Issue_Year  Credit_Length Credit_Length_Days
17766  NaN        NaN       8500  ...        2018             68            24837.0
15767  NaN        NaN      11200  ...        2018             68            24837.0
60840  NaN        NaN       6000  ...        2018             68            24837.0
68713  NaN        NaN       9500  ...        2018             64            23376.0
13089  NaN        NaN      24000  ...        2018             64            23376.0
...     ..        ...        ...  ...         ...            ...                ...
113808 NaN        NaN      16000  ...        2018             52            18993.0
84361  NaN        NaN      16550  ...        2018             52            18993.0
93222  NaN        NaN       5600  ...        2018             52            18993.0
62142  NaN        NaN      10000  ...        2018             52            18993.0
12086  NaN        NaN      31000  ...        2018             52            18993.0

[100 rows x 148 columns]

###12) Calculate the maximum credit length and compare it to we got in the guided project.  

Note - it won't be *exactly* the same because both methods are working in different ways, but they will give you a "pretty close" answer.

In [72]:
df['Credit_Length'].sort_values(ascending = False)
df['Credit_Length'].describe()
#Uh, yeah, I need to add a condition to have it return NaN is 'Earliest_Credit_Year' == 0

count    128412.000000
mean         15.690060
std           7.905211
min           3.000000
25%          11.000000
50%          14.000000
75%          19.000000
max          68.000000
Name: Credit_Length, dtype: float64

#Portfolio Project Assignment

Start looking for interesting datasets!  

Pretty much every major US governmental agency (CDC, Bureau of Labor Statistics, The Census, etc.) maintains a treasure trove of data.

There's also:

Datasets from the University of Florida Department of Statistics: http://users.stat.ufl.edu/~winner/datasets.html

Pew Research: https://www.pewresearch.org/

General Social Survey: https://gss.norc.org/

Ancestry.com Free data collections: https://www.ancestry.com/search/categories/freeindexacom/?clickref=1101lbhdWxys&key=Uhttps%3A%2F%2Fwww.ancestry.com%2Fsearch%2Fcategories%2Ffreeindexacom%2F%3Fclickref%3D1101lbhdWxys&o_lid=01011l4pVw&o_sch=Affiliate+External&o_xid=01011l4pVw

Popular baby names by year since the founding of the SSA: https://www.babynamewizard.com/ 


https://data.world/

https://www.kaggle.com/datasets

https://catalog.data.gov/dataset

https://datasetsearch.research.google.com/

https://archive.ics.uci.edu/ml/index.php

https://github.com/plotly/datasets

https://lionbridge.ai/datasets/20-best-image-datasets-for-computer-vision/

https://www.visualdata.io/

https://pathmind.com/wiki/open-datasets

https://blog.playment.io/top-open-image-dataset/

https://blog.cambridgespark.com/

https://www.analyticsvidhya.com/blog/2018/03/

https://data-flair.training/blogs/machine-learning-datasets/